<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/script.js" defer></script>
</head>
<body>
     {{>header}}
    <h1>Weather app</h1>
    <form action="" method="get">
        <input type="text" id="address"> 
        <input type="submit" id="sub">
        <p id="p1"></p>
        <p id="p2"></p>
    </form>
    
    {{>footer}}
</body>
</html>